[submodule "HCMInternal/includes/ImGuiColorTextEdit"]
	path = HCMInternal/includes/ImGuiColorTextEdit
	url = https://github.com/goossens/ImGuiColorTextEdit
[submodule "HCMInternal/includes/safetyhook"]
	path = HCMInternal/includes/safetyhook
	url = https://github.com/cursey/safetyhook
[submodule "HCMInternal/includes/type_safe"]
	path = HCMInternal/includes/type_safe
	url = https://github.com/foonathan/type_safe
[submodule "HCMSpeedhack/includes/safetyhook"]
	path = HCMSpeedhack/includes/safetyhook
	url = https://github.com/cursey/safetyhook
