<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HCMExternal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HCMExternal.Properties.Settings>
            <setting name="LastSelectedGameTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSelectedFolder" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HCMEverRunBefore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSelectedCheckpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="HK_ForceCheckpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="HK_ForceRevert" serializeAs="String">
                <value />
            </setting>
            <setting name="HK_DoubleRevert" serializeAs="String">
                <value />
            </setting>
            <setting name="HK_InjectCheckpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="HK_DumpCheckpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="HK_DisableCheckpoints" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckpointBeforeDump" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RevertAfterInject" serializeAs="String">
                <value>False</value>
            </setting>
        </HCMExternal.Properties.Settings>
    </userSettings>
</configuration>